@tailwind base;
@tailwind components;
@tailwind utilities;

/* 代码块样式，带横向滚动和间距 */
/* dark: bg-gray-800 */
.markdown-body pre {
    @apply overflow-x-auto bg-gray-100 rounded-md px-2 py-6 mb-4 border border-gray-300;
    white-space: pre; /* 保持空格和换行 */
}

/* 代码块里的代码字体 */
.markdown-body pre code {
    @apply font-mono text-sm;
}

.code-group {
    @apply relative;
}

/* copy button */
.copy-btn {
    @apply absolute top-2 right-2 bg-gray-300 text-gray-700 px-1 py-1 text-xs rounded bg-opacity-0 hover:bg-opacity-100 transition-all;
}

.markdown-body h1 {
    @apply text-4xl font-bold mt-6 mb-4;
}
.markdown-body h2 {
    @apply text-3xl font-semibold mt-5 mb-3;
}
.markdown-body h3 {
    @apply text-2xl font-semibold mt-4 mb-2;
}
.markdown-body h4 {
    @apply text-xl font-medium mt-3 mb-1;
}
.markdown-body h5 {
    @apply text-lg font-medium mt-2 mb-1;
}
.markdown-body h6 {
    @apply text-base font-medium mt-1 mb-1;
}

.markdown-body code {
    @apply bg-gray-100 font-mono px-1 py-0.5 rounded;
}

.markdown-body p code,
.markdown-body li code,
.markdown-body blockquote code,
.markdown-body td code,
.markdown-body th code,
.markdown-body ol code,
.markdown-body ul code {
    @apply text-sm break-words whitespace-pre-wrap;
}

.markdown-body p {
    @apply text-base leading-relaxed mb-4;
}

.markdown-body br {
    @apply block;
}

.markdown-body strong {
    @apply font-bold;
}
.markdown-body em {
    @apply italic;
}
.markdown-body del {
    @apply line-through text-gray-500;
}
.markdown-body u {
    @apply underline;
}

.markdown-body a {
    @apply text-blue-600 hover:underline;
}

.markdown-body ul {
    @apply list-disc pl-6 mb-4;
}

.markdown-body ul li {
    @apply mb-2;
}

.markdown-body ol {
    @apply list-decimal pl-6 mb-4 text-base;
}

.markdown-body ol li {
    @apply mb-2;
}

.markdown-body li.task-list-item {
    @apply flex items-center space-x-2;
}

.markdown-body li.task-list-item input[type="checkbox"] {
    @apply w-4 h-4;
}

.markdown-body blockquote {
    @apply border-l-4 border-gray-300 pl-4 italic text-gray-600 mb-4;
}

.markdown-body table {
    display: inline-block;
    overflow-x: auto;
    @apply max-w-full border-collapse border border-gray-300 mb-4;
}

.markdown-body th,
.markdown-body td {
    @apply border border-gray-300 px-4 py-2 text-left;
}

.markdown-body th {
    @apply bg-gray-100 font-semibold;
}

.markdown-body img {
    @apply max-w-full h-auto rounded my-4;
}

.markdown-body hr {
    @apply border-t border-gray-300 my-6;
}
