<!doctype html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        {% block head %}
        <title>{% block title %}{% endblock title %}</title>
        {% endblock head %}
        <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
        <link rel="icon" type="image/png" href="/static/img/avatar.png" />
    </head>
    {% block header %}
    <header class="h-16 flex items-center justify-center shadow-sm bg-white">
        <nav class="flex space-x-8 text-lg font-medium">
            <a
                href="/"
                class="{% if page == 'home' %}text-blue-600{% else %}hover:text-blue-600{% endif %}"
                >Home</a
            >
            <a
                href="/about"
                class="{% if page == 'about' %}text-blue-600{% else %}hover:text-blue-600{% endif %}"
                >About</a
            >
            <a
                href="/friend_links"
                class="{% if page == 'friend_links' %}text-blue-600{% else %}hover:text-blue-600{% endif %}"
                >Friend Links</a
            >
        </nav>
    </header>
    {% endblock header %}
    <body
        class="flex flex-col justify-between min-h-screen font-sans leading-normal tracking-normal"
    >
        <!--<div class="h-16 overflow-x-hidden"></div>-->

        <main class="container flex-1 w-full md:max-w-3xl mx-auto">
            {% block content %}{% endblock content %}
        </main>
        {% block footer %}
        <footer class="container mx-auto px-6 pb-2 pt-6 md:max-w-4xl">
            <div class="px-6 py-4 text-center">
                <p class="text-sm text-gray-600">
                    &copy; 2025 by
                    <a
                        href="https://lhz07.com/"
                        class="font-medium text-blue-600 hover:text-blue-700 transition-colors duration-200"
                    >
                        lhz07
                    </a>
                </p>
                <a
                    href="https://icp.gov.moe/?keyword=20257027"
                    class="text-sm text-gray-600"
                    target="_blank"
                    >萌ICP备20257027号</a
                >
            </div>
        </footer>
        {% endblock footer %} {% block scripts %}{% endblock scripts %}
    </body>
</html>
